:root {
  --text: #181818;
  --bg: 238, 238, 238;
  --secondary: #f0f0f0;
  --accent: #6fcf97;
  --primary: #66fad5;
  --primary-gradient: #39eec1;
  --glow: 0 0 10px rgba(111, 207, 151, 0.8);
  --shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);

  --bg-image-1: url(/public/bg/bg1.jpg);
  --main-bg: url(/public/bg/wallpaper.jpg);

  font: clamp(8px, 8px, 13px);
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: rgb(var(--bg));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "LexendDeca";
  src: url("src/assets/fonts/LexendDeca/LexendDeca-VariableFont_wght.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --bg: 19, 19, 19;
    --secondary: #1b1b1b;
    --accent: #6fcf97;
    --primary: #66fad5;
    --primary-gradient: #39eec1;

    --bg-image-1: url(/public/bg/bg1-dark.jpg);
    --main-bg: url(/public/bg/wallpaper-dark.jpg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  color: var(--text);
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}
h1,
h2 {
  font-family: "LexendDeca";
}

h1 {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h2 {
  font-size: 21px;
}
p,
span {
  font-size: 1rem;
}
span {
  opacity: 0.8;
}

/* GLOBAL CLASSES */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-gradient {
  background: linear-gradient(45deg, var(--primary-gradient), var(--accent));
}
.background-border {
  background-color: var(--secondary);
  border: 2px solid var(--accent);
  transition: box-shadow 0.3s ease-in-out;
}
.background-border:hover {
  box-shadow: var(--glow);
}
