:root {
  --text: #181818;
  --bg: #eeeeee;
  --secondary: #f0f0f0;
  --accent: #6fcf97;
  --primary: #66fad5;
  --primary-gradient: #39eec1;
  --glow: 0 0 20px rgba(111, 207, 151, 0.8);
  --bg-image-1: url(/public/bg/bg1.jpg);

  font: 16px;
  font-family: "Inter", sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --bg: #131313;
    --secondary: #1b1b1b;
    --accent: #6fcf97;
    --primary: #66fad5;
    --primary-gradient: #39eec1;

    --bg-image-1: url(/public/bg/bg1-dark.jpg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  color: var(--text);
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}
h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p,
span {
  font-size: 1.25rem;
}
span {
  font-size: 0.8rem;
  opacity: 0.8;
}

/* GLOBAL CLASSES */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-gradient {
  background: linear-gradient(45deg, var(--primary-gradient), var(--accent));
}
.background-border {
  background-color: var(--secondary);
  border: 2px solid var(--accent);
  border-radius: 0 !important;
}
.background-border:hover {
  box-shadow: var(--glow);
}
